<div class="app">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card drop-shadow">
          <div class="card-body">
            <form action="">
              <div class="form-group">
                <label for="">Sélectionnez une image</label>
                <input
                  type="file"
                  class="form-control"
                  accept="image/*"
                  (change)="preview($event)"
                />
              </div>
              <div class="form-group">
                <label for="">Texte du haut</label>
                <input
                  type="text"
                  class="form-control"
                  name="topText"
                  [(ngModel)]="topText"
                  (keyup)="drawText()"
                />
              </div>
              <div class="form-group">
                <label for="">Texte du bas</label>
                <input
                  type="text"
                  class="form-control"
                  name="bottomText"
                  [(ngModel)]="bottomText"
                  (keyup)="drawText()"
                />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="from-group">
                    <label for="">Couleur du texte</label>
                    <color-chrome
                      (onChangeComplete)="canvasTextColor($event)"
                    ></color-chrome>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="from-group">
                    <label for="">Couleur de l'arrière plan</label>
                    <color-chrome
                      (onChangeComplete)="canvasBgColor($event)"
                    ></color-chrome>
                  </div>
                </div>
              </div>
              <button
                class="btn btn-outline-primary btn-block mt-5"
                (click)="saveImgToLocalStorage()"
                style="width: 100%"
              >
                Ajouter l'image à la gallerie
              </button>
              <button
                class="btn btn-outline-primary btn-block mt-5"
                (click)="downloadImg()"
                style="width: 100%"
              >
                Télécharger
              </button>
              <div class="share-buttons">

              <h4>Partager </h4>
              <button
                class="facebook-share-btn button-share"
                (click)="share('facebook')"
              >
                <i class="fab fa-facebook-f"></i> Facebook
              </button>
              <button
                class="twitter-share-btn button-share"
                (click)="share('twitter')"
              >
                <i class="fab fa-twitter"></i> Twitter
              </button>
              <button
                class="linkedin-share-btn button-share"
                (click)="share('linkedin')"
              >
                <i class="fab fa-linkedin-in"></i> LinkedIn
              </button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <canvas
          class="drop-shadow"
          #memeCanvas
          width="700"
          height="800"
          style="background-color: #f9f9fb"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>
<p-toast />
