
.container {
  text-align: center;
  margin-top: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.image-preview {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.text-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  cursor: move;
}

.text-editor {
  margin-top: 20px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  margin-left: 10px;
}

.ui-galleria-thumb-nav-left,
.ui-galleria-thumb-nav-right{
	display:block !important;
}

:host ::ng-deep .custom-galleria { &.p-galleria { &.fullscreen { display: flex; flex-direction: column; .p-galleria-content { flex-grow: 1; justify-content: center; } } .p-galleria-content { position: relative; } .p-galleria-thumbnail-wrapper { position: absolute; bottom: 0; left: 0; width: 100%; } .p-galleria-thumbnail-items-container { width: 100%; } .custom-galleria-footer { display: flex; align-items: center; background-color: rgba(0, 0, 0, .9); color: #ffffff; > button { background-color: transparent; color: #ffffff; border: 0 none; border-radius: 0; margin: .2rem 0; &.fullscreen-button { margin-left: auto; } &:hover { background-color: rgba(255, 255, 255, 0.1); } } } .title-container { > span { font-size: .9rem; padding-left: .829rem; &.title { font-weight: bold; } } } } } 

.indisponible{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.button{
  width: 50% !important;
}